@model RankUp.Models.BoardUsers

@{
    Layout = "~/Views/Shared/_navBar.cshtml";
    ViewBag.Title = "RankUp - Reset User Password";
}

<link rel="stylesheet" href="~/Content/BoardUsers/css/style.css" />

<div class="main-panel">
    <div class="content-wrapper">

        <div class="row ">
            <div class="col grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">

                        <form id="changePasswordForm" enctype="multipart/form-data" onsubmit="return checkPassword()" method="post" asp-controller="BoardUsers" asp-action="ResetBoardUserPassword">


                            @Html.HiddenFor(Model => Model.id)
                            @Html.HiddenFor(Model => Model.isAdmin)
                            @Html.HiddenFor(Model => Model.isAvailable)
                            @Html.HiddenFor(Model => Model.CVsReviewed)
                            @Html.HiddenFor(Model => Model.user)
                            @Html.HiddenFor(Model => Model.user.Id)
                            @Html.HiddenFor(Model => Model.user.firstName)
                            @Html.HiddenFor(Model => Model.user.lastName)
                            @Html.HiddenFor(Model => Model.user.CV)
                            @Html.HiddenFor(Model => Model.user.PhoneNumber)
                            @Html.HiddenFor(Model => Model.user.industry)
                            @Html.HiddenFor(Model => Model.user.univeristy)
                            @Html.HiddenFor(Model => Model.user.jobStartDate)
                            @Html.HiddenFor(Model => Model.user.jobStatus)
                            @Html.HiddenFor(Model => Model.user.jobTitle)
                            @Html.HiddenFor(Model => Model.user.gender)
                            @Html.HiddenFor(Model => Model.user.Email)
                            @Html.HiddenFor(Model => Model.user.company)
                            @Html.HiddenFor(Model => Model.user.country)
                            @Html.HiddenFor(Model => Model.user.state)
                            @Html.HiddenFor(Model => Model.user.area)
                            @Html.HiddenFor(Model => Model.user.birthDate)
                            @Html.HiddenFor(Model => Model.user.AccessFailedCount)
                            @Html.HiddenFor(Model => Model.user.ConcurrencyStamp)
                            @Html.HiddenFor(Model => Model.user.EmailConfirmed)
                            @Html.HiddenFor(Model => Model.user.jobStartDate)
                            @Html.HiddenFor(Model => Model.user.LockoutEnabled)
                            @Html.HiddenFor(Model => Model.user.LockoutEnd)
                            @Html.HiddenFor(Model => Model.user.NormalizedEmail)
                            @Html.HiddenFor(Model => Model.user.NormalizedUserName)
                            @Html.HiddenFor(Model => Model.user.PasswordHash)
                            @Html.HiddenFor(Model => Model.user.PhoneNumberConfirmed)
                            @Html.HiddenFor(Model => Model.user.photo)
                            @Html.HiddenFor(Model => Model.user.SecurityStamp)
                            @Html.HiddenFor(Model => Model.user.TwoFactorEnabled)
                            @Html.HiddenFor(Model => Model.user.UserName)


                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <div class="col-sm-3">

                                            <label class="mb-0">@string.Concat(Model.user.firstName + " " + Model.user.lastName)</label>
                                        </div>

                                    </div>

                                    <hr>

                                    <div id="userPassword" class="form-group row col-md-12" style="padding-bottom:0.5rem">
                                        <input class="form-control" id="password" name="password" placeholder="Password" required
                                               type="password">
                                    </div>

                                    <div id="userConfirmedPassword" class="form-group row col-md-12" style="padding-bottom:0.5rem">
                                        <input class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required
                                               type="password">
                                    </div>
                                    <span id="passwordErrorMsg" style="display:none;" class="text-danger">Not matched passwords</span>

                                    <button style="float:right" type="submit" class="btn btn-success mt-3 mb-0">Save</button>
                                    <a style="float:left" asp-controller="BoardUsers" asp-action="ViewBoardUsers" class="btn btn-success mt-3 mb-0">Back</a>

                                </div>
                            </div>

                            @* To display all Validation Errors*@
                            <div asp-validation-summary="All" class="text-danger"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Notification Modal if successfully submitted the form*@

<div id="myModal" class="modal">

    <div class="modal-content">
        <div class="modal-headerr" style="text-align:center">
            <span class="close" onclick="closeModal()">&times;</span>

        </div>


        <div class="modal-body">

            <h5 id="notification" style="margin-bottom: 2rem">Changes have been saved successfully</h5>
        </div>

        <div style="text-align:center" class="modal-footer">
            <button style="margin-left:auto;margin-right:auto" class="btn" onclick="closeModal()">Ok</button>

        </div>
    </div>
</div>

<div class="loading-modal"><!-- Place at bottom of page --></div>


<script>

    var modal = document.getElementById("myModal");

    function closeModal() {
        modal.style.display = "none";
    }

    function checkPassword() {

        var password = document.getElementById("password").value;
        var confirmedPassword = document.getElementById("confirmPassword").value;

        var passwordErrorMsgSpan = document.getElementById("passwordErrorMsg");

        if (password != confirmedPassword) {

            passwordErrorMsgSpan.style.display = "block";
            return false;
        }
        passwordErrorMsgSpan.style.display = "none";

        modal.style.display = 'block';

        setTimeout(function () { return true; }, 3000);


    }


</script>


